
html{    
    scroll-behavior: smooth;
}


.light-theme{    
    --color-background: #fff; 
    --color-bg-intro: linear-gradient(#f38181e6, #fce38ae6);
    --color-bg-des: linear-gradient(#ffffffd9, #ffffffd9);

    --color-accent-bg: #95e1d3;
    --color-accent-line: #f38181;
    --color-accent: #95e1d3;

    --color-text-bold: #333;
    --color-text-light: #999;

    --color-nav: #fff; 
    --color-nav-svg: invert(100%) sepia(39%) saturate(0%) hue-rotate(243deg) brightness(118%) contrast(100%);
    --color-nav-hover: #fce38a;
    --color-nav-svg-hover: invert(87%) sepia(46%) saturate(433%) hue-rotate(339deg) brightness(101%) contrast(98%);
    --color-svg: invert(80%) sepia(16%) saturate(620%) hue-rotate(119deg) brightness(102%) contrast(89%);
}

.dark-theme{    
    --color-background: #1a1125; 
    --color-bg-intro: linear-gradient(to bottom, #1A1125e6, #586fb8e6);
    --color-bg-des: linear-gradient(#1a1125d9, #1a1125d9);

    --color-accent-bg: #6a4ea6;
    --color-accent-line: #8b64fd;
    --color-accent: #8b64fd;
    
    --color-text-bold: #E6D9F6;
    --color-text-light: #7B6F98;

    --color-nav: #E6D9F6;
    --color-nav-svg: invert(85%) sepia(44%) saturate(259%) hue-rotate(203deg) brightness(99%) contrast(95%);
    --color-nav-hover: #8B63FE;
    --color-nav-svg-hover:invert(39%) sepia(25%) saturate(3997%) hue-rotate(232deg) brightness(102%) contrast(99%);
    --color-svg: invert(39%) sepia(25%) saturate(3997%) hue-rotate(232deg) brightness(102%) contrast(99%);
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: var(--color-text-dark);       
    background-color: var(--color-background);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

hr{    
    height: 1px;
    width: 100%;
    margin: 0 auto;

    border: 0;
    background-color: var(--color-accent-bg);
}

/* Intro */
.intro{    
    width: 100%;
    max-width: 850px;
    margin: 0 auto;   
    color: #fff;
    text-align: center;
}

.intro__suptitle{
    margin-bottom: 18px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 500;
}

.intro__title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.93;
}

.intro__title::after{
    content: "";
    display: block;
    margin: 60px auto 50px;
    
    background-color: #fff;
    width: 60px;
    height: 3px;
}

/* Header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-accent-line);
    background: var(--color-bg-intro) center no-repeat, url("../img/intro.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;   

    height: 100vh;   
}

.header__inner{     
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;     
    padding-top: 17px;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */
.nav{
    font-size: 14px;
    color: var(--color-nav);
    text-transform: uppercase;
}

.nav a,
.header__logo a{
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0 48px;
    position: relative;
    
    color: var(--color-nav);
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav a img{
    transition: filter 0.2s linear;
}

.nav a:hover,
.nav a.active,
.header__logo a:hover{
    color: var(--color-nav-hover);
}

.light-theme .nav a img{
    filter:  var(--color-nav-svg);
}
.light-theme .nav a:hover img{
    filter: var(--color-nav-svg-hover)
}

.dark-theme .nav a svg{
    filter:  var(--color-nav-svg-hover);
}

.dark-theme .nav a:hover svg{
    filter:  var(--color-svg);
}

.nav a::after, .header__logo a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--color-nav-hover);
    opacity: 0;

    position: absolute;
    top: 130%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav a:hover::after,
.nav a.active::after,
.header__logo:hover a::after{ 
    display: block;
    opacity: 1;
}

/* Button */

.button{
    display: inline-block;
    vertical-align: top;

    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    
    outline: 3px solid #fff;
    padding: 6px 27px; 

    transition: 0.2s linear;
}

.button:hover{
    color:var(--color-text-bold);
    background-color: #fff;
}

/* Slider */

.slider{
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 1200px;
    z-index: 100;
}

.slider__inner{
    display: flex;
    justify-content: space-between;
}

.slider__item{
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: 0.6;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active{
    opacity: 1;
}

.slider__item.active::before{
    content: "";
    display: block;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    width: 70px;
    background-color: var(--color-accent-line);
    height: 3px;

}

.slider__item b{
    font-size: 24px;
}



/* Section title */

.section__header{    
    max-width: 1200px;    
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
    width: 100%;
}

.section__suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--color-text-bold);    
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}

.section__title{
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-bold);
}

.section__title::after{
    content: "";
    display: block;
    margin: 28px auto 50px;

    background-color: var(--color-accent-line);
    width: 60px;
    height: 3px;
}

.section__text{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    max-width: 960px;
    color: var(--color-text-light);
}

/* Block About */

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.about__inner{
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about__item{ 
    position: relative;
    background-color: var(--color-accent);
}

.about__item:hover .about__img{
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img{
    opacity: 0.2;
}

.about__item:hover .about__text{    
    transform: translate3d(-10px, -10px, 0);
    opacity: 1;
}

.about__img{
    transition: transform 0.2s linear;
    background: var(--color-gradient) center no-repeat;
}

.about__img img {   
    display: block; 
    transition: opacity 0.1s linear;
}

.about__text{    
    width: 100%;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;

    opacity: 0;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

.about__text img{
    display: block;
    margin: 5px auto;
}



/* Block Statistic */ 
.statistic{
    display: block;
    width: 100%;
    background-color: var(--color-accent-bg);
    height: 270px;
}

.stat{
    display: flex;   
    line-height: 1;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.stat__item{  
    color: #fff;
    font-style: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    width: 100%;
    padding: 75px 0;    
    border-left: rgba(255, 255, 255, 0.3) 1px solid;    
}

.stat__item:last-child{    
    border-right: rgba(255, 255, 255, 0.3) 1px solid;
}

.stat__num{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}


/* Block Services */

.service{
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.service__row{
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.service__item{
    display: flex;

    align-items: center;
    height: 170px;
    width: 400px;
}

.service__icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 90px;
    /*filter: var(--color-svg);*/
    fill: var(--color-accent);
}


.service__text{
    color: var(--color-text-light);    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    
    width: 290px;
}

.service__title{

    color: var(--color-text-bold);
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 15px;
}

/* Block Design */

.design{    
    position: relative;

    background-color: #eee;
    background: var(--color-bg-des),
     url("../img/design/background.jpg") center no-repeat;
    background-size: cover;

    margin: 0 auto 20px;
    height: 850px;
    text-align: center;
}

.design__bg_img img{
    position: absolute;
    bottom: 0;
    left: 35%;
    z-index: 1;
}

.design__front_img{    
    position: absolute;
    bottom: -65px;
    left: 55%;
    z-index: 2;
}


/* Details of services  */

.details__inner{
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 90px auto 0;
}

.details__item{
    width: 600px;   
    
    margin-bottom: 10px;
    transition: height 1s ease-in-out;
}

.details__item:last-child{
    margin-bottom: 0;
}

.details__item:not([open])
{
    height: 60px;
}

.details__item[open]
{
    overflow: hidden; 
    height: 240px;
}

.details__title{
    display: flex;
    align-items: center;
    outline: none;
        
    border: 1px #e5e5e5 solid;
    height: 60px;

    color: var(--color-text-bold);
    font-weight: 700;
    text-transform: uppercase;

}

.details__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.details__arrow{
    margin: 0 20px 0 auto;
    width: 21px;
    height: 12px;
    background: url("../img/icon/arrow-down.svg");
    transition: 0.2s linear;
}

.details__item[open] .details__arrow
{
    transform: rotate(180deg);
}

.details__des{
    border: 1px #e5e5e5 solid;
    border-top: 0;
    height: 180px;
    padding: 20px; 
    padding-right: 25px;

    color: var(--color-text-light);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}

.details__des div{   
    height: 140px;
    padding-right: 25px;
    overflow-y: scroll;
    white-space: pre-line;
    
}

.details__des div::-webkit-scrollbar{
    width: 5px;
}

.details__des div::-webkit-scrollbar-track{
    background-color: #f5f5f5;
    border-radius: 3px;
}

.details__des div::-webkit-scrollbar-thumb{
    background-color: #95e1d3;
    border-radius: 3px;
}